{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "env": {
    "jest": true,
    "node": true
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "max-classes-per-file": "off",
    "no-tabs": ["error", { "allowIndentationTabs": true }],
    "indent": ["off", "tab"],
    "quotes": ["error", "double"],
    // Prettier
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "all",
        "singleQuote": false,
        "printWidth": 80,
        "tabWidth": 2,
        "endOfLine": "lf"
      }
    ],
    // TypeScript
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
